body {
  font-family: "Bebas Neue", sans-serif;
}
* {
  /* border: 1px solid red; */
}
main {
  background-color: black;
}

header {
  background-image: linear-gradient(
      to top,
      rgba(0, 0, 0, 0.8) 0,
      rgba(0, 0, 0, 0) 60%,
      rgba(0, 0, 0, 0.8) 100%
    ),
    url(../images/background.jpg);
  height: auto;
  background-size: cover;
  background-position: 80%;
  /* border: 1px solid red; */
}

/* global */
.btn-style {
  background-color: #e50914;
  color: #fff;
  border: none;
  font-weight: 600;
  border-radius: 0.2rem;
}
.btn-style:hover {
  background-color: #bb0912;
  color: #fff;
}

/* navbar */

nav svg {
  width: 18%;
  fill: #e50914;
}

nav .btn-signin {
  padding: 0.3rem 1rem;
}

/* hero section */

.hero-title {
  font-size: 2rem;
}

.hero-first-p,
.hero-second-p {
  font-size: 1.125rem;
  font-weight: normal;
}

/* form section */
form {
  width: 80%;
}
form .form-control {
  background-color: rgba(0, 0, 0, 0.283);
  color: #fff;
  
}

form label {
  color: rgba(255, 255, 255, 0.7);
  margin-left: 0.7rem;
}
form .form-control:focus {
  color: #fff;
  border-color: #fff;
  box-shadow: none;
  border-width: medium;
  background-color: transparent;
}

form .form-floating > .form-control:focus ~ label {
  color: rgba(255, 255, 255, 0.7);
}

form .form-floating > .form-contrl:focus ~ label::after {
  background-color: transparent;
}

form .form-floating {
  width: 95%;
}

form .get-started-btn {
  /* width: 2rem; */
  padding: 0.5rem 3rem 0.5rem 1rem;
  font-size: 1.2rem;
  text-align: left;
}

form .arrow-icon {
  right: 3%;
  top: 20%;
}

.seperator {
  background-color: #232323;
  width: 100%;
  height: 8px;
}

/* section-1 */
.section-1-right {
  z-index: 3;
}

.section-1 .section-1-right img {
  width: 100%;
  z-index: 1;
}
.section-1 .section-1-right video {
  height: 65%;
  width: 75%;
  right: 12%;
  top: 15%;
  z-index: -1;
}

/* section-2 */
.section-2 .section-2-left .mobile-top {
  border: 3px solid #2d2d2d;
  background-color: #000;
  border-radius: 1rem;
  min-width: 15rem;
  max-width: 60%;
  bottom: 5%;
  left: 20%;
}
.section-2 .section-2-left .mobile-top img {
  max-height: 3rem;
}

.section-2 .section-2-left .mobile-top .movie-poster-title .movie-title p {
  color: #0071eb;
}

/* section-3 */
.section-3-right {
  z-index: 3;
}
.section-3 .section-3-right video {
  height: 46%;
  right: 0%;
  top: 8%;
  z-index: -1;
}
/* @media */
